{% extends 'base.html' %}

{% block title %}Вход в систему{% endblock %}

{% block content %}
<style>
        body {
            background-image: url('../media/back.png');
        }
</style>
<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card">
            <div class="card-header text-center">
                <h3><i class="bi bi-box-arrow-in-right"></i> Вход в систему</h3>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="{{ form.login.id_for_label }}" class="form-label">{{ form.login.label }}</label>
                        {{ form.login }}
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.password.id_for_label }}" class="form-label">{{ form.password.label }}</label>
                        {{ form.password }}
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary btn-lg">Войти</button>
                        <a href="{% url 'register' %}" class="btn btn-outline-secondary">Зарегистрироваться</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

